@model BBService.Models.ViewHome
@{
    ViewBag.Title = "DoneWorksCreateInput";
}

<div id="DoneWorksCreateInput">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 inputAccident">
                <h1>Görülmüş iş maddəsi daxil edin :</h1>
                <form method="post" @Url.Action("DoneWorksCreateInput", "Inputs") class="formTest">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="col-sm-12">
                                @if (Session["DoneWorkRepeat"] != null)
                                {
                                    Session["DoneWorkRepeat"] = null;
                                    <div class="alert alert-warning SuccessInfo">
                                        Əməliyyat uğursuzdur!<br />
                                        Daxil etdiyiniz iş kodu artıq bazada mövcuddur.
                                    </div>
                                }
                            </div>

                            <div class="form-group">
                                <label for="WorkCode" class="col-sm-12 col-form-label">İş kodu :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="WorkCode" name="WorkCode" min="10000" max="99999" placeholder="Daxil edin ...">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="WorkName" class="col-sm-12 col-form-label">İş adı :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="WorkName" name="WorkName" placeholder="Daxil edin ...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="NormativeFactory" class="col-sm-12 col-form-label">Normativ zavod :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="NormativeFactory" name="NormativeFactory" placeholder="Daxil edin ...">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="NormativeBakubus" class="col-sm-12 col-form-label">Normativ Bakubus :</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control inputItem" id="NormativeBakubus" name="NormativeBakubus" placeholder="Daxil edin ...">
                                </div>
                            </div>
                            <div class="form-group inputHere">
                                <label for="VehicleBrandId" class="col-sm-12 col-form-label">Marka & Model :</label>
                                <div class="col-sm-12">
                                    <select id="VehicleBrandId" class="form-control inputItem inputItemSelect selectpicker" name="VehicleBrandId" data-live-search="true">
                                        <option selected>Seçin ...</option>
                                        @foreach (var item in Model.VehiclesBrand)
                                        {
                                            <option value="@item.Id">@item.Brand</option>
                                        }
                                    </select>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary addButton">Əlavə edin</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

