 <!-- FOOTER -->
@using res = Wheel.User.Properties.Resources;
<footer>

    <div class="copyright">
        <div class="container row container row col-md-12 col-lg-12 ">
            <div class="col-xs-12 col-sm-8 col-lg-8 footer_block footer_block__3 wow"><p role="contentinfo">&copy; 2016 AVTOTEKER.AZ All Rights Reserved. Powered by <a href="http://fb.com/ismayil">ISMAYIL</a> & <a target="_blank" rel="nofollow" href="https://fb.com/o.rzazade">ORXAN</a>.</p><!-- Design by templatemonster.com --></div>
            <div class="col-xs-12 col-sm-2 col-lg-2">
                <ul class="social_links social_footer pull-left">
                    <li >
                        <!-- MyCounter v.2.0 -->
                        <script type="text/javascript">
                        <!--
                        my_id = 162329;
                        my_width = 88;
                        my_height = 31;
                        my_alt = "MyCounter - счётчик и статистика";
                        //--></script>
                        <script type="text/javascript"
                                src="https://get.mycounter.ua/counter2.0.js">
                        </script><noscript>
                            <a target="_blank" href="http://mycounter.ua/">
                                <img src="https://get.mycounter.ua/counter.php?id=162329"
                                     title="MyCounter - счётчик и статистика"
                                     alt="MyCounter - счётчик и статистика"
                                     width="88" height="31" border="0" />
                            </a>
                        </noscript>
                        <!--/ MyCounter -->
                    </li>
                    
                </ul>
                </div>
                <div class="col-xs-12 col-sm-2 col-lg-2">
                    <ul class="social_links social_footer pull-right">                       
                        <li><a target="_blank" href="@res.twitterUrl"><i class="fa fa-instagram"></i></a></li>
                        <li><a target="_blank" href="@res.fbUrl"><i class="fa fa-facebook-square"></i></a></li>
                    </ul>
                </div>
            </div>
    </div>
</footer>
