@{
    ViewBag.Title = "BindMaintenanceCreate";
}


<div id="BindMaintenanceCreate">
    <div class="contaiber-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 inputAccident">
                <h1>Yeni TQ limiti təyin et :</h1>
                <form method="post" action="@Url.Action("BindMaintenanceCreate", "Monipulations")" class="formTest">

                    <div class="form-group">
                        <label for="Name" class="col-sm-10 col-form-label">TQ adı :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control inputItem" id="Name" name="Name" placeholder="Daxil edin ...">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="MaintenanceValue" class="col-sm-10 col-form-label">TQ limit :</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control inputItem" id="MaintenanceValue" name="MaintenanceValue" placeholder="Daxil edin ...">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary addButton">Əlavə et</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

